@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #955f35;
  --secondary-color: #3d3d3d;
  --third-color: #7f7f7f;
  --forth-color: #d1b06b;
  --fifth-color: #cccaca;
  --white-color: #ffffff;
  --footer-bg: #e1dfdf;
  --footer-bg-img: url(../images/footer-bg.png);
  --font-size-large: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.primary-color {
  color: var(--primary-color);
}

.primary-bg-color{
    background-color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.third-color {
  color: var(--third-color);
}

.forth-color {
  color: var(--forth-color);
}

.fifth-color {
  color: var(--fifth-color);
}

.white-color {
  color: var(--white-color);
}

.footer-bg {
  background-color: var(--footer-bg);
}

.footer-bg-img {
  background-image: var(--footer-bg-img);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.border-primary-color {
  border: 1px solid;
  border-color: var(--primary-color);
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-25 {
  font-size: 25px;
}

.fs-30 {
    font-size: 30px;
}

.fs-45 {
  font-size: 45px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.breadcrumb-bg-img{
    background-image: url(../images/breadcrumb-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.breadcrumb-bg-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(149, 95, 53, 0.2);
    z-index: 1;
  }

.breadcrumb-left-bg-img{
    background-image: url(../images/breadcrumb-sticker2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.active {
  color: var(--primary-color);
}

/* .active::after{
    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--primary-color);
} */

.active::after {
  content: "";
  display: block;
  margin: auto;
  width: 50%;
  height: 2px;
  background-color: var(--primary-color);
}
